In [67]:
import pandas as pd
import numpy as np

In [88]:
# Load the Titanic dataset into a Pandas DataFrame.
df = pd.read_csv("/content/train_and_test.csv")
# print(df)

# How many rows and columns are there?
# 1309 rows x 28 columns
# What are the column names?
# Passengerid      int64
# Age            float64
# Fare           float64
# Sex              int64
# sibsp            int64
# zero             int64
# zero.1           int64
# zero.2           int64
# zero.3           int64
# zero.4           int64
# zero.5           int64
# zero.6           int64
# Parch            int64
# zero.7           int64
# zero.8           int64
# zero.9           int64
# zero.10          int64
# zero.11          int64
# zero.12          int64
# zero.13          int64
# zero.14          int64
# Pclass           int64
# zero.15          int64
# zero.16          int64
# Embarked       float64
# zero.17          int64
# zero.18          int64
# 2urvived         int64
# Check data types of each column. Which columns contain missing values?
# print(df['Embarked'].isnull().sum()) --> this has 2 NULL values

üë®‚Äçüë©‚Äçüëß Passenger Demographics

In [69]:
# How many passengers survived vs. did not survive?
# print(df['2urvived'].value_counts())
# How many male and female passengers were there?
# print(df['Sex'].value_counts())
# What is the average age of passengers?
# print(df['Age'].mean())
# Find the youngest and oldest passenger.
# print(df['Age'].min())
# print(df['Age'].max())
# How many children (age < 12) were onboard? (91)
# print(df[df['Age'] < 12].count()) this is wrong because I count all values in column but I want to count num of rows
# len(df[df['Age'] < 12])

üí∞ Tickets & *Fare*

In [70]:
# What is the average fare of passengers?
# print(df['Fare'].mean())
# Which passenger paid the highest fare?
# print(df[df['Fare'] >= df['Fare'].max()]['Passengerid']) -> [259, 680, 738, 1235]
# Group by Pclass (Passenger Class) and find the average fare for each class.
# print(df.groupby('Pclass')['Fare'].mean())
# 1    87.508992
# 2    21.179196
# 3    13.304513

üõèÔ∏è Passenger Class & Survival

In [71]:
# How many passengers were in 1st, 2nd, and 3rd class?
# print(df.groupby('Pclass')['Passengerid'].count())
# Pclass
# 1    323
# 2    277
# 3    709
# What was the survival rate for each class?
# print(df.groupby('Pclass')['2urvived'].value_counts())
# Pclass  2urvived
# 1       0           187
#         1           136
# 2       0           190
#         1            87
# 3       0           590
#         1           119
# This gives counts (how many survived vs. died), not rates.
# so the real answer is
# print(df.groupby('Pclass')['2urvived'].mean())
# Pclass
# 1    0.62
# 2    0.44
# 3    0.24
# (meaning 62% of 1st class passengers survived, 44% of 2nd, 24% of 3rd).
# Compare survival rates of male vs female.
# print(df.groupby('Sex')['2urvived'].value_counts())
# Sex  2urvived
# 0    0           734
#      1           109
# 1    0           233
#      1           233
# this also give counts how many males and females survive but not returning rates
# print(df.groupby('Sex')['Survived'].mean())
# Sex
# 0 (male)      0.13
# 1 (female)    0.50
# (‚âà13% of men survived vs. ‚âà50% of women).

üë®‚Äçüë©‚Äçüëß Family Relations

In [75]:
# Create a new column FamilySize = SibSp + Parch + 1.
df['FamilySize'] = df['sibsp'] + df['Parch'] + 1
# print(df['FamilySize'])
# Find the average family size onboard.
# print(df['FamilySize'].mean())
# Did passengers with larger families have a higher or lower survival rate?
# print(df[df['FamilySize'] > df['FamilySize'].mean()]['2urvived'].value_counts())
# 2urvived
# 0    340
# 1    179

2urvived
0    340
1    179
Name: count, dtype: int64

üßπ Data Cleaning Practice

In [87]:
# Fill missing ages with the mean age.
# Calculate the mean of 'Age'
# mean_age = df['Age'].mean()
# Fill missing values in 'Age' with its mean
# df['Age'] = df['Age'].fillna(mean_age)
# --
# Fill missing Embarked values with the most frequent port.
# embarked_mode = df['Embarked'].mode().iloc[0]
# df['Embarked'] = df['Embarked'].fillna(embarked_mode)
# print(df['Embarked'].isnull().sum())
# Drop the Cabin column (too many missing values).
# df.drop('Cabin', axis=1, inplace=True) # axis=1 specifies dropping a column

0